{% extends "base.html" %}

{% block title %}{{ block.super }} | About{% endblock title %}

{% block main_content %}

<h2>About</h2>

<div>
<p><a href="http://sirikata.com/">Sirikata</a> is a BSD-licensed open source
platform for virtual worlds.</p>

<p>Open3dHub is the content distribution website for the Sirikata platform.
COLLADA documents can be uploaded by any user and then get processed in the
background for use in the Sirikata virtual world.</p>

<p>Open3dHub is being developed primarily by <a
href="http://www.cs.princeton.edu/~jterrace/">Jeff Terrace</a>, as
part of the <a href="http://sns.cs.princeton.edu/">Scalable Network Systems Group</a> at
Princeton University</p> 
 
<p> 
The work is funded by the National Science Foundation (<a
href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0831374">NeTS-ANET
Grants #0831163 and #0831374</a>) and by the <a
href="http://visual.stanford.edu/">Intel Science and Technology Center
for Visual Computing</a>.  The positions or opinions of this project
do not necessarily represent the official policy of any of these
organizations.</p> 

</div>

{% endblock main_content %}
