{% extends "base.html" %}

{% block title %}{{ block.super }} | About{% endblock title %}

{% block main_content %}

<h2>About</h2>

<div>
<p><a href="http://sirikata.com/">Sirikata</a> is a BSD-licensed open source
platform for virtual worlds.</p>

<p>Open3dHub is the content distribution website for the Sirikata platform.
COLLADA documents can be uploaded by any user and then get processed in the
background for use in the Sirikata virtual world.</p>

<p>This work is funded by the National Science Foundation (NeTS-ANET Grants
#0831163 and #0831374) and by the Intel Science and Technology Center for
Visual Computing. This work does not reflect the opinions or positions of
these organizations, however.</p>
</div>

{% endblock main_content %}
