<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Sirikata CDN{% endblock title %}</title>
    {% block css_includes %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/cupertino/jquery-ui-1.8.9.custom.css" type="text/css" />
	<style type="text/css">
	.ui-widget { font-size: 0.8em; }
	</style>
    {% endblock css_includes %}
    {% block js_includes %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/form-jquery-ui-styling.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.metadata.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/sirikata-cdn.util.js"></script>
    {% endblock js_includes %}
</head>

<body>

<div id="home">

<div id="header">
<h1>Sirikata CDN Website</h1>
<div id="search_box">
<!-- <form id="search_form" method="GET" action="/search">
<input id="search_text" type="text" name="q" class="ui-widget-content ui-corner-all" />
<input id="search_submit" type="submit" value="Search" />
</form> -->
</div>
</div>

<div id="navbar">
    <div id="navigation">
        <ul id="menu_list">
            <li><a href="/">Browse</a></li>
            <li><a href="/upload/">Upload</a></li>
        </ul>
    </div>
    <div id="useractions">
        <ul id="useractionlist">
            {% if request.user.is_authenticated %}
                <li><a href="/uploads/">My Uploads</a></li>
                <li><a href="{% url users.views.profile request.user.username %}">{{ request.user.username }}</a></li>
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="content_wrapper">
<div id="content">
{% if messages %}
<ul id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block main_content %}
Welcome to the Sirikata CDN website!
{% endblock main_content %}
</div>
</div>

<div id="footer">
<h3>&copy; 2011 Sirikata CDN</h3>
</div>

</div>

</body>

</html>

