div#home {
    margin: 0 30px;
    background: #ffffff;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

div#header {
    background: #deedf7;
    width: 100%;
    border: 1px solid #aed0ea;
    padding: 12px 0px 12px 0px;
    margin: 0;
}
div#header div, h1 {
	margin: 5px;
	padding: 0;
	color: #222222;
	display: inline;
}
div#header div#search_box {
    float: right;
    margin-right: 10px;
}

div#navbar {
    float: left;
    width: 100%;
    background: #deedf7;
    border-right: 1px solid #aed0ea;
    border-left: 1px solid #aed0ea;
    border-bottom: 1px solid #aed0ea;
    padding: 0;
    margin: 0;
}

div#useractions {
	float: right;
}

div#navigation ul, div#useractions ul {
    margin: 0;
    padding: 0;
}
div#navigation ul li, div#useractions ul li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    float: left;
}
div#navigation li a, div#useractions li a, div#useractions li span {
    display: block;
    padding: 5px 10px;
    color: #222222;
    text-decoration: none;
    font-weight: bold;
}
div#useractions li span, div#useractions li a {
	border-left: 1px solid #aed0ea;
}
div#navigation li a {
    border-right: 1px solid #aed0ea;
}
div#navigation li a:hover, div#useractions li a:hover {
	background: #e4f1fb;
	text-decoration: underline;
}

div#content_wrapper {
    clear: left;
    width: 100%;
    color: #362b36;
    background: #f2f5f7;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #999999;
}
div#content {
	padding: 10px;
}

div#footer {
    background: #cccccc;
    text-align: right;
    width: 100%;
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
    clear: left;
}
div#footer h3 {
    margin: 0;
    padding: 10px;
    color: #362b36;
}

fieldset ul, fieldset li {
    border: 0;
    margin:0;
    padding:0;
}
fieldset li {
    list-style:none;
    padding-bottom: 5px;
}
fieldset input, .form_element{
    vertical-align: middle;
    padding: 3px;
}
fieldset label.form_label {
	vertical-align: middle;
    text-align: right;
    padding-right: 5px;
    width:140px;
    display: inline-block;
    word-wrap: break-word;
}
fieldset label.multiline {
	vertical-align: top;
}
fieldset legend {
	padding: 5px;
}
fieldset input[type=submit], div#progressbar {
	margin-top: 10px;
}
fieldset input[type=submit]#openid_submit {
    margin-top: 0px;
}
div#progressbar {
	display: inline-block;
	width: 250px;
	margin-left: 5px;
}

div.pagelet {
	clear: both;
}
div.pagelet h2, div.pagelet table, div.pagelet tr, div.pagelet th, div.pagelet td {
	margin: 0;
	padding: 0;
}
div.pagelet h2 {
	margin-bottom: 10px;
}
div.pagelet div {
	margin: 10px;
}
div.pagelet table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
div.pagelet th {
	text-align: left;
	background: #deedf7;
	padding-left: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
    border-top: 1px solid #aed0ea;
    border-bottom: 1px solid #aed0ea;
}
div.pagelet td.label {
	color: #666666;
	background: #ffffff;
	width: 140px;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
}
div.pagelet td {
	background: #ffffff;
	border-bottom: 1px solid #999999;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 3px;
	padding-right: 1px;
}
body a {
	color: #1e538a;
	text-decoration: none;
}
body a:hover {
	color: #2779aa;
}
body a:visited {
    color: #2779aa;
}

.small {
	font-size: 0.7em;
}
.form_message {
    padding: 5px;
    display: block;
    font-style: italic;
}
.form_labeled_message {
    font-style: italic;
    vertical-align: top;
    padding-left: 5px;
}
.italic {
    font-style: italic;
}
.bold {
	font-weight: bold;
}

ul#messages li.info {
	font-weight: bold;
}
ul#messages li.error {
    font-weight: bold;
    color: #ff0000;
}

span.path_name {
	padding-left: 3px;
	padding-right: 0px;
    font-size: 0.9em;
    font-weight: bold;
    font-family: Courier New, Courier;
}

img.maxwidth {
    max-width: 400px;
    width: expression(this.width > 400 ? 400: true);
}

div#type_tabs img.thumbnail {
	margin-bottom: 15px;
	padding: 2px;
	border: 1px solid #cccccc;
}
div#type_tabs img:hover.thumbnail {
    border: 1px solid #000000;
}

ul.content_list {
	clear: left;
	margin: 0;
	padding: 0;
}
ul.content_list li {
	margin: 0;
	padding: 0;
    width: 160px;
    height: 165px;
    list-style-type: none;
    word-wrap: break-word;
    overflow-y: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 5px 1px;
}
ul.content_list div.img_container {
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    position: relative;
}
ul.content_list img {
    display: inline-block;
    margin: 0;
    padding: 0;
    bottom: 0;
    position: absolute;
}
ul.content_list span.title {
	font-size: 0.8em;
	font-weight: bold;
}
ul.content_list span.timeago {
    font-size: 0.8em;
    font-style: italic;
}

div#top_listing_bar {
	font-size: 0.9em;
	font-weight: bold;
}
div#top_listing_bar div {
	margin-bottom: 10px;
}
div#top_listing_bar div#result_info {
	float: left;
}
div#top_listing_bar div#result_options {
	float: right;
}
div#top_listing_bar div div {
    display: inline;
}
div#top_listing_bar div div + div {
    margin-left: 20px;
}

div#listing_nav {
	font-size: 0.9em;
	width: 100%;
}
div#listing_nav div {
	
}
div#listing_nav div#prev_box {
    float: left;
}
div#listing_nav div#next_box {
	float: right;
}

img.tiny_thumbnail {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
input.clip_url {
	padding: 2px;
	font-size: 0.8em;
	border: 1px solid #CCC;
	margin: 0;
	width: 330px;
}

div#title_accordian div {
	margin: 0;
	padding: 15px 20px 15px 20px;
}
div#title_accordian p {
    margin: 0;
    padding: 0;
}
div#title_accordian p + p {
    margin: 20px 0px 0px 0px;
}

div.section_box {
	margin: 0px 0px 0px 20px;
}
	