{% extends "base.html" %}

{% block title %}{{ block.super }} | Link OpenID Account{% endblock title %}

{% block js_includes %}
{{ block.super }}
<script type="text/javascript"> 
    $(document).ready(function() {
        $("#openid_link").styleform();
        $("#openid_link_form").validate({
        	errorClass: "ui-state-error"
        });
    });
</script>
{% endblock js_includes %} 

{% block main_content %}
{% if messages %}
<ul id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="openid_link">
<fieldset id="openid_link_fieldset">
    <legend id="openid_link_legend">Link your OpenID Account</legend>
    <form action="{% url users.views.openid_link %}" method="post" id="openid_link_form">{% csrf_token %}
    <ul>
        <li><span class="form_message">You have successfully authenticated through OpenID.
        You now need to link your OpenID account with some additional information.
        Based on your OpenID information, the fields below have been pre-populated.</span></li>
    
        <li><label class="form_label">OpenID Identity:</label>
        <span id="openid_identity" class="small form_element">{{ openid_identity }}</span></li>

        {% for field in form %}
            <li>
            <label class="form_label" for='id_{{ field.name }}'>{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <label class='ui-state-error' for='id_{{ field.name }}' generated="true">{{ field.errors|join:". " }}</label>
            {% endif %}
            </li>
        {% endfor %}

        <li><label class="form_label" for="openid_link_submit"></label><input id="openid_link_submit" type="submit" value="Submit"/></li>
    </ul>
    </form>
</fieldset>
</div>

{% endblock main_content %}
