{% extends "base.html" %}
{% load truncate_filters_extra %}
{% load add_get_parameter %}

{% block title %}{{ block.super }} | Latest Content{% endblock title %}

{% block main_content %}

<div id="top_listing_bar">
	<div>
		{% if view == 'icon' %}
		    Icon | <a href = "{% url content.views.browse %}{% add_get_parameter view='list' %}">List</a>
		{% else %}
		    <a href = "{% url content.views.browse %}{% add_get_parameter view='icon' %}">Icon</a> | List
		{% endif %}
	</div>
	<div>
		Show
		<a href="{% url content.views.browse %}{% add_get_parameter count='25' %}">25</a>,
		<a href="{% url content.views.browse %}{% add_get_parameter count='50' %}">50</a>,
		<a href="{% url content.views.browse %}{% add_get_parameter count='100' %}">100</a>
		items.
	</div>
</div>

{% if view == 'icon' %}
    <ul class="content_list">
    {% for item in content_items %}
        <li>
        <div class="img_container">
        <a href="{% url content.views.view item.full_path|slice:"1:" %}">
        {% if item.metadata.types.original.thumbnail %}
        <img src="{% url content.views.download item.metadata.types.original.thumbnail %}"/>
        {% else %}
        <img src="{{ MEDIA_URL }}images/question.png"/>
        {% endif %}
        </a>
        </div>
        <a href="{% url content.views.view item.full_path|slice:"1:" %}">
        <span class="title">{{ item.metadata.title|truncate_chars:15 }}</span>
        </a><br>
        <span class="timeago">{{ item.timestamp|timesince }} ago </span><br>
         <a href = "{% url users.views.profile item.username %}">{{ item.username }}</a><br />
        </li>
    {% empty %}
        <li>No content!</li>
    {% endfor %}
    </ul>
{% else %}
    <table id="mesh_list">
        <tr>
            <th>Author</th>
            <th>Model</th>
            <th>Time</th>
        </tr>
        {% for item in content_items %}
            <tr>
                <td><a href = "{% url users.views.profile item.username %}">{{ item.username }}</a><br /></td>
                <td>
                    {% if item.metadata.types.original.thumbnail %}
                        <img src="{% url content.views.download item.metadata.types.original.thumbnail %}" class = 'tiny_thumbnail' />
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/question.png" class = 'tiny_thumbnail'/>
                    {% endif %}
                    <a href="{% url content.views.view item.full_path|slice:"1:" %}">
                    <span class="title">{{ item.metadata.title|truncate_chars:15 }}</span>
                    </a>
                </td>
                <td>
                    <span class="timeago">{{ item.timestamp|timesince }} ago </span><br>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if older_start or newer_start %}
<div id="listing_nav">
    {% if older_start %}
    <a href="{% url content.views.browse %}{% add_get_parameter start=older_start,reverse='1' %}">Older</a>
    {% endif %}
    {% if newer_start %}
    <a href="{% url content.views.browse %}{% add_get_parameter start=newer_start,reverse='0' %}">Newer</a>
    {% endif %}
</div>
{% endif %}

{% endblock main_content %}
