{% extends "base.html" %}
{% load truncate_filters_extra %}

{% block title %}{{ block.super }} | Latest Content{% endblock title %}

{% block main_content %}

<div id="top_listing_bar">
	<div>
		{% if view == 'icon' %}
		    Icon | <a href = "{% url content.views.browse start %}?count={{ count }}&view=list">List</a>
		{% else %}
		    <a href = "{% url content.views.browse start %}?count={{ count }}&view=icon">Icon</a> | List
		{% endif %}
	</div>
	<div>
		Show
		<a href="{% url content.views.browse start %}?count=25&view={{ view }}">25</a>,
		<a href="{% url content.views.browse start %}?count=50&view={{ view }}">50</a>,
		<a href="{% url content.views.browse start %}?count=100&view={{ view }}">100</a>
		items.
	</div>
</div>

{% if view == 'icon' %}
    <ul class="content_list">
    {% for item in content_items %}
        <li>
        <div class="img_container">
        <a href="{% url content.views.view item.full_path|slice:"1:" %}">
        {% if item.metadata.types.original.thumbnail %}
        <img src="{% url content.views.download item.metadata.types.original.thumbnail %}"/>
        {% else %}
        <img src="{{ MEDIA_URL }}images/question.png"/>
        {% endif %}
        </a>
        </div>
        <a href="{% url content.views.view item.full_path|slice:"1:" %}">
        <span class="title">{{ item.metadata.title|truncate_chars:15 }}</span>
        </a><br>
        <span class="timeago">{{ item.timestamp|timesince }} ago </span><br>
        {{ item.username }} <br>
        </li>
    {% empty %}
        <li>No content!</li>
    {% endfor %}
    </ul>
{% else %}
    <ul>
    {% for item in content_items %}
        <li>{{ item.timestamp|date:"M-d-Y g:iA" }} -
        <a href="{% url content.views.view item.full_path|slice:"1:" %}">{{ item.full_path }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if next_start or prev_start %}
<div id="listing_nav">
    {% if next_start %}
    <a href="{% url content.views.browse next_start %}">Older</a>
    {% endif %}
    {% if prev_start %}
    <a href="{% url content.views.browse prev_start %}">Newer</a>
    {% endif %}
</div>
{% endif %}

{% endblock main_content %}
