{% extends "base.html" %}

{% block title %}{{ block.super }} | Edit File{% endblock title %}

{% block js_includes %}
{{ block.super }}
<script type="text/javascript"> 
    $(document).ready(function() {
        $("#edit_content").styleform();
        $("#edit_content_form").validate({
            errorClass: "ui-state-error"
        });
    });
</script>
{% endblock js_includes %} 

{% block main_content %}
<div id="edit_content">
<fieldset id="edit_content_fieldset">
    <legend id="edit_content_legend">Edit File</legend>
    <form enctype="multipart/form-data" action="{% url content.views.edit_file filename %}" method="post" id="edit_content_form">{% csrf_token %}
    <ul>
    
        <li><span class="form_message">Specify metadata about the file.</span></li>
    
        <li><label class="form_label multiline">Filename</label><span class="form_labeled_message">{{ filename }}</span></li>
    
        {% for field in form.visible_fields %}
            <li>
            <label class="form_label" for='id_{{ field.name }}'>{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <label class='ui-state-error' for='id_{{ field.name }}' generated="true">{{ field.errors|join:". " }}</label>
            {% endif %}
            </li>
        {% endfor %}

        <li><label class="form_label" for="edit_content_submit"></label><input id="edit_content_submit" type="submit" value="Submit"/></li>
    </ul>
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    </form>
</fieldset>
</div>

{% endblock main_content %}
