{% extends "base.html" %}

{% block title %}{{ block.super }} | Latest Content{% endblock title %}

{% block main_content %}
<ul>
{% for item in content_items %}
    <li>
    {% if item.metadata.types.original.thumbnail %}
    <img class="thumbnail" src="{% url content.views.download item.metadata.types.original.thumbnail %}"/>
    {% else %}
    <img class="thumbnail" src="{{ MEDIA_URL }}images/question.png"/>
    {% endif %}
    {{ item.timestamp|timesince }} ago <br>
    {{ item.username }} <br>
    {{ item.metadata.title }}
    </li>
{% empty %}
    <li>Sorry, no content!</li>
{% endfor %}
</ul>
{% endblock main_content %}
