{% extends "base.html" %}

{% block title %}{{ block.super }} | Upload Processing{% endblock title %}

{% block js_includes %}
{{ block.super }}
<script type="text/javascript"> 

	function ajaxLater() {
		var status_url = window.location.pathname + '?xhr';
        $.ajax({ url: status_url, dataType: 'text json' })
            .success(function(data, textStatus, jqXHR) {
                if (data.state == 'SUCCESS' || data.state == 'FAILURE') {
                	location.reload();
                } else {
                	$("#current_task_state").html(data.state);
                }
                setTimeout(ajaxLater, 1000);
            })
            .error(function(jqXHR, textStatus, errorThrown) {
            	setTimeout(ajaxLater, 5000);
            })
            .complete(function(jqXHR, textStatus) {});
	}

    $(document).ready(function() {
    	{% if erase %}
        $('#ok_erase_button').button();
        {% else %}{% if edit_link %}
        $('#edit_button').button();
        {% else %}
        $('#refresh_button').hide();
        {% endif %}{% endif %}
        
        var cur_state = '{{ task_state }}';
        if (cur_state != 'SUCCESS' && cur_state != 'FAILURE') {
        	setTimeout(ajaxLater, 1000);
        }
    });
</script>
{% endblock js_includes %} 

{% block main_content %}

<div class="pagelet">

<h2>Upload is being processed</h2>

<table>
<thead><th colspan="2">Status</th></thead>
{% if error_message %}
<tr><td class="label">Error Message</td><td>{{ error_message }}</td></tr>
{% endif %}
{% if success_message %}
<tr><td class="label">Message</td><td>{{ success_message }}</td></tr>
{% endif %}
<tr><td class="label">State</td><td id='current_task_state'>{{ task_state }}</td></tr>
</table>

<table>
<thead><th colspan="2">Task Details</th></thead>
<tr><td class="label">Task ID</td><td>{{ task_id }}</td></tr>
</table>

{% if erase %}
<a id="ok_erase_button" href="{% url content.views.upload_processing 'confirm' task_id %}">Okay - Remove this upload</a>
{% else %}{% if edit_link %}
<a id="edit_button" href="{{ edit_link }}">Continue</a>
{% else %}
<a id="refresh_button" href="{% url content.views.upload_processing task_id %}">Refresh</a>
{% endif %}{% endif %}

</div>

{% endblock main_content %}
