{% extends "base.html" %}
{% load truncate_filters_extra %}
{% load add_get_parameter %}

{% block title %}{{ block.super }} | Search{% endblock title %}


{% block main_content %}

{% include "content/results_header.html" %}

{% if view == 'icon' %}
    {% include "content/icons.html" %}
{% else %}
    {% include "content/listing.html" %}
{% endif %}

<div id="listing_nav">
    <div id="prev_box">
    {% if previous_start != None %}
    <a href="{% add_get_parameter start=previous_start %}">&laquo; Previous</a>
    {% endif %}
    </div>
    Results {{ start_display }}-{{ end_display }} of {{ hits }}
    <div id="next_box">
    {% if next_start != None %}
    <a href="{% add_get_parameter start=next_start %}">Next &raquo;</a>
    {% endif %}
    </div>
    &nbsp;
</div>

{% endblock main_content %}
