{% extends "base.html" %}

{% block title %}{{ block.super }} | Upload Content{% endblock title %}

{% block js_includes %}
{{ block.super }}
<script type="text/javascript"> 
    $(document).ready(function() {
        $("#upload_content").styleform();
        $("#upload_content_form").validate({
            errorClass: "ui-state-error"
        });
        $( "#progressbar" ).progressbar({
            value: 0
        });
    });
</script>
{% endblock js_includes %} 

{% block main_content %}
<div id="upload_content">
<fieldset id="upload_content_fieldset">
    <legend id="upload_content_legend">Upload Content</legend>
    {% if task_id %}
    <form enctype="multipart/form-data" action="{% url content.views.upload task_id %}" method="post" id="upload_content_form">
    {% else %}
    <form enctype="multipart/form-data" action="{% url content.views.upload %}" method="post" id="upload_content_form">
    {% endif %}
    {% csrf_token %}
    <ul>
    
        <li><span class="form_message">Here you can choose a file to upload. Currently
        only Collada is supported. You can upload a .dae file or a zip file that
        contains a .dae file and textures.</span></li>
    
        {% for existing in existing_files %}
        <li><label class="form_label">{{ existing }}</label>
        <label>&lt;Uploaded&gt;</label></li>
        {% endfor %}
    
        {% for field in form.visible_fields %}
            <li>
            <label class="form_label" for='id_{{ field.name }}'>{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <label class='ui-state-error' for='id_{{ field.name }}' generated="true">{{ field.errors|join:". " }}</label>
            {% endif %}
            </li>
        {% endfor %}
        
        <li><label class="form_label" for="progressbar"></label><div id="progressbar"></div></li>

        <li><label class="form_label" for="upload_content_submit"></label><input id="upload_content_submit" type="submit" value="Submit"/></li>
    </ul>
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    </form>
</fieldset>
</div>

{% endblock main_content %}
