{% extends "base.html" %}

{% block title %}{{ block.super }} | Choose File{% endblock title %}

{% block js_includes %}
{{ block.super }}
<script type="text/javascript"> 
    $(document).ready(function() {
        $("#upload_choice").styleform();
        $("#upload_choice_form").validate({
            errorClass: "ui-state-error"
        });
    });
</script>
{% endblock js_includes %} 

{% block main_content %}
<div id="upload_choice">
<fieldset id="upload_choice_fieldset">
    <legend id="upload_choice_legend">Upload Choice</legend>
    <form enctype="multipart/form-data" action="{% url content.views.upload_choice task_id %}" method="post" id="upload_choice_form">{% csrf_token %}
    <ul>
    
        <li><span class="form_message">Select the .dae file in the uploaded archive that you would like to process.</span></li>
    
        {% for field in form.visible_fields %}
            <li>
            <label class="form_label" for='id_{{ field.name }}'>{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <label class='ui-state-error' for='id_{{ field.name }}' generated="true">{{ field.errors|join:". " }}</label>
            {% endif %}
            </li>
        {% endfor %}

        <li><label class="form_label" for="upload_choice_submit"></label><input id="upload_choice_submit" type="submit" value="Submit"/></li>
    </ul>
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    </form>
</fieldset>
</div>

{% endblock main_content %}
