{% extends "base.html" %}

{% block title %}{{ block.super }} | File View{% endblock title %}

{% block js_includes %}
{{ block.super }}
<script type="text/javascript"> 
    $(document).ready(function() {
        $( "#img_accordian" ).accordion({
            fillSpace: true,
            autoHeight: false
        });
    });
</script>
{% endblock js_includes %} 

{% block main_content %}

<div class="pagelet">
<h2>{{ basename }}</h2>
<table>
<thead><th colspan="2">File Info</th></thead>
<tr><td class="label">Download Image</td><td><a href="{% url content.views.download metadata.hash basename %}">{{ basename }}</a></td></tr>
<tr><td class="label">Image Hash</td><td>{{ metadata.hash }}</td></tr>
<tr><td class="label">Image Size</td><td>{{ metadata.size|filesizeformat }}</td></tr>
</table>
</div>
<img class="maxwidth" src="{% url content.views.download metadata.hash %}"/>

{% endblock main_content %}
