{% extends "base.html" %}

{% block title %}{{ block.super }} | File View{% endblock title %}

{% block js_includes %}
{{ block.super }}
<script type="text/javascript"> 
    $(document).ready(function() {
    	$( "#title_accordian" ).accordion();
    	$( "#type_accordian" ).accordion({
    		fillSpace: true,
    		collapsible: true
    	});
    });
</script>
{% endblock js_includes %} 

{% block main_content %}

<div id="title_accordian">
    <h3><a href="#">{{ metadata.title }}</a></h3>
    <div>
        <p class="bold">
        {{ metadata.description|linebreaksbr|default:"<em>No description</em>" }}
        </p>
        {% if can_change %}
        <br>
        <p>
	        <a class="button" href="{% url content.views.edit_file fullpath %}">Edit</a>
        </p>
        {% endif %}
    </div>
</div>

<br>

<div id="type_accordian">
    {% for type_name, props in metadata.types.items %}
    <h3><a href="#">{{ type_name|capfirst }}</a></h3>
    <div>
        <p>
            <div class="pagelet">
            {% if props.thumbnail and props.screenshot %}
            <a href="{% url content.views.download props.screenshot %}">
            <img alt="Click for larger version" class="thumbnail" src="{% url content.views.download props.thumbnail %}"/>
            </a>
            {% endif %}
            <table>
            <thead><th colspan="2">File Info</th></thead>
            {% if props.zip %}
            <tr><td class="label">Download Zip</td><td><a href="{% url content.views.download props.zip basename %}.zip">{{ basename }}.zip</a></td></tr>
            <tr><td class="label">Zip Hash</td><td>{{ props.zip }}</td></tr>
            {% endif %}
            <tr><td class="label">Download Mesh</td><td><a href="{% url content.views.download props.hash basename %}">{{ basename }}</a></td></tr>
            <tr><td class="label">Mesh Hash</td><td>{{ props.hash }}</td></tr>
            <tr><td class="label">Mesh Size</td><td>{{ props.size|filesizeformat }}</td></tr>
            <tr><td class="label">Sirikata URL</td><td>meerkat:///{{ basepath }}/{{ type_name }}/{{ version }}/{{ basename }}</td></tr>
            {% for subfile in props.subfiles %}
            <tr><td class="label">Subfile {{ forloop.counter }}</td>
            <td><a href="{% url content.views.view subfile|slice:"1:" %}">{{ subfile }}</a></td></tr>
            {% endfor %}
            </table>
            </div>
        </p>
    </div>
    {% endfor %}
</div>

{% endblock main_content %}
