{% extends "base.html" %}

{% block title %}{{ block.super }} | File View{% endblock title %}

{% block js_includes %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
    	$( "#title_accordion" ).accordion();
        $("#type_tabs").tabs();
        $( "#delete-dialog-confirm" ).dialog({
            resizable: false,
            autoOpen: false,
            height:140,
            modal: true,
            buttons: {
	            "Delete": function() {
	                window.location = $( "a#delete_button ").attr('href');
	            },
	            "Cancel": function() {
	                $(this).dialog("close");
	            }
            }
        });
        $( "a#delete_button ").click(function() {
            $( "#delete-dialog-confirm" ).dialog('open');
            return false;
        });
    });
</script>
{% endblock js_includes %}

{% block main_content %}

<div id="title_accordion">
    <h3><a href="#">{{ metadata.title }}</a></h3>
    <div>
        <p class="bold">
        {{ metadata.description|linebreaksbr|default:"<em>No description</em>" }}
        </p>
        <p class="bold">Labels: {{ metadata.labels|join:", "|default:"None" }}</p>
        <!--div>
            <p>Tags:</p>
            <table style = 'width: 300px'>
                {% for tagName, tagValue in metadata.tags %}
                    <tr>
                        <td>{{ tagName }}</td>
                        <td>{{ tagValue }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div-->
        {% if can_change %}
        <br>
        <p>
	        <a class="button" href="{% url content.views.edit_file fullpath %}">Edit</a>
	        <a id='delete_button' class="button" href="{% url content.views.delete_file fullpath %}">Delete</a>
        </p>
        {% endif %}
    </div>
</div>

<div class="pagelet">
<div id="version_info">
<b>Versions:</b>
{% for v in all_versions %}
{% if v != version %}<a href="{% url content.views.view basepath|add:'/'|add:v %}">{{v}}{% if not forloop.last %},{% endif %}</a>
{% else %}<b>{{v}}</b>{% if not forloop.last %},{% endif %}{% endif %}
{% endfor %}
</div>
{% if version == latest_version %}
<div id="latest_version_link">
You can pin sirikata to this latest version: <br/>
<span class="small">meerkat:///{{ basepath }}/optimized/{{ basename }}</span>
</div>
{% endif %}
</div>

<div id="type_tabs">
    <ul>
        {% for type_name, props in metadata.types.items %}
           <li><a href="#{{type_name}}">{{ type_name|capfirst }}</a></li>
        {% endfor %}
    </ul>
    {% for type_name, props in metadata.types.items %}
	    <div id="{{type_name}}">
	        <p>
	            <div class="pagelet">
	            {% if props.thumbnail and props.screenshot %}
	            <a href="{% url content.views.download props.screenshot %}">
	            <img alt="Click for larger version" class="thumbnail" src="{% url content.views.download props.thumbnail %}"/>
	            </a>
	            {% endif %}
	            <table>
	            <thead><th colspan="2">File Info</th></thead>
	            {% if props.zip %}
	            <tr><td class="label">Download Zip</td><td><a href="{% url content.views.download props.zip basename %}.zip">{{ basename }}.zip</a></td></tr>
	            <tr><td class="label">Zip Hash</td><td>{{ props.zip }}</td></tr>
	            {% endif %}
	            <tr><td class="label">Download Mesh</td><td><a href="{% url content.views.download props.hash basename %}">{{ basename }}</a></td></tr>
	            <tr><td class="label">Mesh Hash</td><td>{{ props.hash }}</td></tr>
	            <tr><td class="label">Mesh Size</td><td>{{ props.size|filesizeformat }}</td></tr>
	            <tr><td class="label">Sirikata URL</td><td>meerkat:///{{ basepath }}/{{ type_name }}/{{ version }}/{{ basename }}</td></tr>
	            {% for subfile in props.subfiles %}
	            <tr><td class="label">Subfile {{ forloop.counter }}</td>
	            <td><a href="{% url content.views.view subfile|slice:"1:" %}">{{ subfile }}</a></td></tr>
	            {% endfor %}
	            </table>
	            </div>
	        </p>
	    </div>
    {% endfor %}
</div>

<div id="delete-dialog-confirm" title="Delete File?">
    <p>This will permanently delete the file and cannot be undone. Are you sure?</p>
</div>

{% endblock main_content %}
